<!DOCTYPE html>
<html lang="sk" ng-app="App">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>yxc</title>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body ng-controller="mainController">

	<div class="container">

	<navbar ng-if="user.isLogged"></navbar>
	<login ng-if="!user.isLogged"></login>



	</div>


	<script type="text/javascript" src="assets/js/angular.min.js"></script>
	<script type="text/javascript" src="assets/js/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="assets/js/app.js"></script>

	<script type="text/javascript" src="assets/js/directives/navbar/navbar.js"></script>
	<script type="text/javascript" src="assets/js/directives/login/login.js"></script>

	<script type="text/javascript" src="assets/js/controllers/MainController.js"></script>

	</body>
</html>